#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.form-container {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  position: relative;
  padding: 15px;
  flex-wrap: wrap;
}

li.form {
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 5px;
  border-radius: 8px;
  background-color: #cadcf2;
  width: 300px;
}

.image-container {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  flex-wrap: wrap;
}

.button {
  color: #fff;
  background-color: gray;
  border: none;
  border-radius: 15px;
  box-shadow: 0 7px rgb(62, 62, 62);
}

.container {
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 8px;
  background-color: #cadcf2;
}

.screenshot {
  max-width: 90%;
  margin-bottom: 20px;
  border-radius: 8px;
}

.gallery-screenshot {
  border-radius: 8px;
}